/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 750px;
  margin: 0 auto;

}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  outline-style: inset;
  outline-width: 1px;
  outline-color: #979797;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 10px;
  outline-style: inset;
  outline-width: 1px;
  outline-color: #979797;
  text-align: center;
}

main {
  padding: 20px;
  outline-style: inset;
  outline-width: 1px;
  outline-color: #979797;
  text-align: center;
}



#account-tab-content,
#recipes-tab-content {
  display: none;
}

#recipe-list {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}

h1 a,
#account-tab a,
#search-tab a,
#recipes-tab a,
#auth-button a {
  text-decoration: none;
  color: #000;
}