body {
  font-family: "Lucida Sans" !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#app {
  max-width: 750px !important;
  max-height: 100% !important;
  margin: 10px auto !important;
}

#background {
  max-width: 800px !important;
  background-color: white !important;
}

header {
  background-image: linear-gradient(
    to bottom left,
    rgb(21, 126, 21),
    rgb(134, 234, 134)
  );
  padding: 25px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  outline-style: inset !important;
  outline-width: 1px !important;
  outline-color: #979797 !important;
  text-align: center !important;
}
header:hover {
  transform: scale(1.05);
}

nav {
  display: flex !important;
  justify-content: space-around !important;
  background-color: #eee !important;
  padding: 10px !important;
  outline-style: inset !important;
  outline-width: 1px !important;
  outline-color: #979797 !important;
}

main {
  padding: 150px !important;
  background-color: #eee !important;
  height: 900px !important;
  outline-style: inset !important;
  outline-width: 1px !important;
  outline-color: #979797 !important;
}

#account-tab-content,
#recipes-tab-content {
  display: none !important;
}

#recipe-list {
  list-style-type: none !important;
  padding: 0 !important;
}

button {
  cursor: pointer !important;
}

.btn1 {
  width: 20% !important;
  border: 0 !important;
  padding: 8px 20px !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  outline: solid #979797 !important;
  display: block !important;
  margin: auto !important;
  background-color: solid #ffffff !important;
  z-index: 2 !important;
}

.button :hover {
  background-color: rgb(86, 153, 86);
  color: white;
}

.display-left,
.display-right {
  position: absolute;
  top: 50%;
  width: 40px;
  margin-top: 27px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  color: rgba(21, 240, 12);
  font-weight: bold;
  transition: 0.8s ease;
  border: none;
  background-color: transparent;
  outline: none;
}

.display-left {
  left: 460px;
  border-radius: 3px;
}

.display-right {
  right: 460px;
  border-radius: 3px;
}

.display-left:hover,
.display-right:hover {
  background-color: rgba(27, 42, 128, 0.504);
}

.pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.display-container {
  background-repeat: no-repeat;
  position: relative;
}

img {
  position: absolute;
  margin: -210px 400px 300px -150px;
}

.header1 {
  position: absolute;
  top: 25%;
  left: 50%;
  color: rgb(61, 168, 57);
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgb(56, 224, 49, 0.4);
  z-index: 2;
}

.header2 {
  position: absolute;
  top: 35%;
  left: 44%;
  color: rgb(56, 207, 50);
  font-weight: 300;
  font-size: 36px;
  text-align: left;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 4px rgb(56, 224, 49, 0.4);
  z-index: 2;
}

.body1 {
  position: absolute;
  top: 35%;
  left: 44%;
  color: rgb(56, 207, 50);
  font-weight: 300;
  font-size: 24px;
  text-align: left;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 4px rgb(56, 224, 49, 0.4);
  z-index: 2;
}
